*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html, body {
  min-width:100%;
  min-height:100%;
}

/* flexbox to fill screen */
body {
  /*display:flex;
  justify-content:center;
  align-items:center;*/
}

td.active{
    background: red;
}
