body{
	background-image: url('images/ride_sm.gif');
	background-size: cover;
}
h2{
  	text-align: center;
  	color: white;
	font-family: Lucida Grande;
	font-weight: Regular;
	font-size: 20px;
}
h3{
 	text-align: center;
 	color: white;
  	font-family: Lucida Grande;
	font-weight: Regular;
}
h4{
	color: white;
  	font-family: Lucida Grande;
	font-weight: Regular;
}
p {
	color: white ;
	font-family: Source Sans Pro;
	font-weight: Regular;
	font-size: 14px;
}
li {
	color: white ;
	font-family: Source Sans Pro;
	font-weight: Light;
	font-size: 14px;
}
